<a href="https://colab.research.google.com/github/dhvl15/data-science/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas
from pandas import DataFrame

In [4]:
data = pandas.read_csv('cost_revenue_clean.csv')

In [5]:
data.describe()

       production_budget_usd  worldwide_gross_usd
count           5.034000e+03         5.034000e+03
mean            3.290784e+07         9.515685e+07
std             4.112589e+07         1.726012e+08
min             1.100000e+03         2.600000e+01
25%             6.000000e+06         7.000000e+06
50%             1.900000e+07         3.296202e+07
75%             4.200000e+07         1.034471e+08
max             4.250000e+08         2.783919e+09